---
import Slider from '../components/Slider';
import BaseLayout from '../layouts/BaseLayout.astro';

import '../styles/global.css';

const pageTitle = 'About Me';

const identity = {
  firstName: 'Alex',
  country: 'Romania',
  occupation: 'Frontend Engineer',
  hobbies: ['travel', 'read'],
};
const { firstName, country, occupation, hobbies } = identity;
const [hobbyNumberOne, hobbyNumberTwo] = hobbies;
---

<BaseLayout pageTitle={pageTitle}>
  <h1 class='text-center text-4xl font-semibold'>About me</h1>
  <div class='block justify-around items-center md:flex'>
    <div class='md:w-[35rem] w-full p-8 md:m-[0 auto] m-auto'>
      <img
        class='rounded-xl shadow-2xl'
        src='/images/20210519193557_IMG_0927.JPG'
        alt='Alex Visan'
      />
    </div>

    <div class='p-10'>
      <ul>
        <li>My name is {firstName}.</li>
        <li>
          I live in {country} and I work as a {occupation}, working on
          web projects and creating beautiful user interfaces. I
          strive to create an intuitive and enjoyable experience for
          users, while also keeping the code clean and organized.
        </li>
        <li>
          I've been working in the software industry for over 5 years
          starting as a Quality Assurance, gaining experience while
          learning the basics of user experience as an Email Marketer,
          and finally finding my stride as a Software Engineer.
        </li>
        <li>
          While over these years I have gained a lot of experience in
          both testing code and front-end, my passion lies in the
          front-end using new technologies and frameworks to create
          interactive websites.
        </li>
        <li>
          When I'm not coding, I like to: {hobbyNumberOne} and{' '}
          {hobbyNumberTwo}
        </li>
      </ul>
    </div>
  </div>
  <Slider client:only='react' />
</BaseLayout>
